<html>
    <head>
        <title>this is Home page</title>
    </head>
    <body>
        <h1> page{{Title}}</h1>
        <h1>{{welmsg}}</h1>
      <footer>
    <h5>copyright@ {{copyright}}</h5>
    <h6>Mobile <number>{{mono}}</h6>
</footer>
        {{!-- {{> footer}}    --}}
    </body>


</html>