<html>
    <head>
        <title>this is About page</title>
    </head>
    <body style="background:yellow">
  <h1>site are under maintenance</h1>

     <footer>
    <h5>copyright@ {{copyright}}</h5>
    <h6>Mobile <number>{{mono}}</h6>
</footer>
    </body>


</html>